<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="koreanmaster.common.mapper">
    <update id="rearrangeFormCode" statementType="STATEMENT">
        SET @CNT = 0;
        UPDATE Simple_Form SET Simple_Form.form_code = @CNT:=@CNT+1;
    </update>
</mapper>